@font-face {
    font-family: 'formulaOne';
    src: url('../font/Formula1-Bold_web_0.ttf'),
        url('../font/Formula1-Regular_web_0.ttf'),
        url('../font/Formula1-Wide_web_0.ttf');
}


body {
    font-family: 'formulaOne';
    text-align: center;
    background-color: #fff;
    color: #000;
}

.btn_toggle {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 2.4em;
    height: 2.4em;
    padding: 0.4em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

body.dark {
    color: #fff;
    background-color: #000;
}
body.dark .btn_toggle {
    color: #000;
    background-color: #fff;
}
body.dark a {
    color: #fff;
}

body.dark .team_imgs {
    background-color: invert;
}

.title_div {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 4em;
}

.title {
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
}

.title_img {
    width: 6em;
}

a {
    color: #000;
    text-decoration: none;
}

/******************home**************************/

#home_container {
    display: flex;
    justify-content: space-around;
}

.title_classement {
    font-size: 2em;
}

.teams_div, .drivers_div {
    border-radius: 0.4em;
}

.driver_div {
    border-top: 0.4em solid red;
    border-right: 0.4em solid red;
    margin-top: 1em;
    padding: 0.1em 0;
    border-radius: 0.6em;
}

.driver_title {
    color: #000;
}

.home_driver_imgs {
    width: 8em;
}

.button {
    display: block;
    font: bold 1em Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    margin-top: 1em;
    padding: 0.2em 0.4em;
    border-radius: 0.6em;
    border: 1px solid #CCCCCC;
}

.team_div {
    border-top: 0.4em solid red;
    border-right: 0.4em solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    border-radius: 0.6em;
}

.team_names {
    width: 10em;
    font-size: 1.4em;
}

.team_imgs {
    width: 8%;
}

/**************************driversrank*******************************************/

.rank_driver {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em auto;
    width: 80%;
    background-color: #cacaca;
    border-radius: 0.2em;
}

.rank_driver_imgs {
    margin: 0.2em;
    width: 4em;
}

/**************************Driver page***********************************/

.div_driver {
    width: 80%;
    margin: 4em auto;
    display: flex;
    justify-content: space-between;
}

.driver_imgs {
    width: 20em;
}

/*************************team Page***********************************/

.team_logo {
    display: flex;
    justify-content: space-around;
}

.team_infos {
    width: 50%;
    margin: 6em auto;
}

/*************************backoffice***************************************/

.form_driver {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    height: 1.8em;
}

.form_input {
    text-align: center;
    width: 6.4em;
}

.form_test {
    width: 6em;
}